# ignore Xcode data for user and workspace data

Nyaya.xcodeproj/xcuserdata
Nyaya.xcodeproj/project.xcworkspace

# ignore tex output
NyBaTh/thesis.log
NyBaTh/thesis.synctex.gz
NyBaTh/thesis.xdy
NyBaTh/thesis.pdf


