# ignore all tex output

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.xdy
*.synctex.gz



# Exclude user-specific XCode 3 and 4 files

*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Exclude OS X folder attributes
.DS_Store

# ignore thesis pdf too!
thesis.pdf


*.texshop

*.odg#

NyBaTh/part.tex

NyBaTh/thesis-concept.pdf

*.aux
