<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionLabelText</key>
	<string>Guess the structure of the composite declarative sentence.</string>
	<key>answerLabelText</key>
	<string>Use ‘p’, ‘q’, ‘r’ for the simple declarative sentences.</string>
	<key>solutionLabelText</key>
	<string>Sample solution (you may have found an other correct expression)</string>
	<key>questionsFile</key>
	<string>QA1</string>
	<key>solutionIndex</key>
	<integer>1</integer>
</dict>
</plist>
