<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionLabelText</key>
	<string>Guess the structure of the composite sentence.</string>
	<key>answerLabelText</key>
	<string>Write a solution like ‘if p then q’, ‘p or q’, etc.</string>
	<key>solutionLabelText</key>
	<string>Sample solution</string>
	<key>questionsFile</key>
	<string>QA1</string>
	<key>solutionIndex</key>
	<integer>1</integer>
</dict>
</plist>
