<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionLabelText</key>
	<string>Translate the composite sentence into formula.</string>
	<key>answerLabelText</key>
	<string>Write a formula like ‘p→q’, ‘¬p ∨ q’.</string>
	<key>solutionLabelText</key>
	<string>Sample solution</string>
	<key>questionsFile</key>
	<string>QA1</string>
	<key>solutionIndex</key>
	<integer>3</integer>
</dict>
</plist>
