<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionLabelText</key>
	<string>Check syntax of given formula.</string>
	<key>answerLabelText</key>
	<string>Write first connective symbol used to create formula (if well formed).</string>
	<key>solutionLabelText</key>
	<string>Solution (¬,∧,∨,→ or empty if given formula is not well formed).</string>
	<key>additionalLabelText</key>
	<string>P := p | (¬P) |  (P ∧ P) | (P ∨ P) | (P → P)</string>
</dict>
</plist>
