<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionLabelText</key>
	<string>Create a formula as described</string>
	<key>answerLabelText</key>
	<string>Use connectives “¬ ∧ ∨ →” and atoms “p q r”</string>
	<key>solutionLabelText</key>
	<string>Sample solution</string>
</dict>
</plist>
