<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionLabelText</key>
	<string>Extract sub-formulas from given formula.</string>
	<key>answerLabelText</key>
	<string>Separate sub-formulas with ‘,’</string>
	<key>solutionLabelText</key>
	<string>Solution (order does not matter).</string>
</dict>
</plist>
