<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionLabelText</key>
	<string>Evaluate formula and fill out truth table.</string>
	<key>answerLabelText</key>
	<string>Write ‘F’ or ‘T’ into fields.</string>
	<key>solutionLabelText</key>
	<string>Solution</string>
</dict>
</plist>
