<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionLabelText</key>
	<string>Does the entailment or equivalence hold?</string>
	<key>answerLabelText</key>
	<string>Answer</string>
	<key>solutionLabelText</key>
	<string>Solution</string>
	<key>questionsFile</key>
	<string>QA33</string>
</dict>
</plist>
