<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questionLabelText</key>
	<string>Is the given formula in negation normal form?</string>
	<key>answerLabelText</key>
	<string>If not, apply equivalence transformations.</string>
	<key>solutionLabelText</key>
	<string>An equivalent formula in negation normal form.</string>
</dict>
</plist>
