<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyLabelText</key>
	<string>Find a model</string>
	<key>inputLabelText</key>
	<string>Use only “¬ ∧ ∨ → p q r”</string>
	<key>valueLabelText</key>
	<string>Sample solution</string>
	<key>questionsFile</key>
	<string>QA123</string>
	<key>answerIndex</key>
	<integer>3</integer>
</dict>
</plist>
