<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tutorials</string>
	<array>
		<string>Tutorials</string>
		<array>
			<string>Overview</string>
			<string>01</string>
		</array>
	</array>
	<array>
		<string>Introduction</string>
		<array>
			<string>Applications</string>
			<string>11</string>
		</array>
		<array>
			<string>Propositions</string>
			<string>12</string>
		</array>
		<array>
			<string>Connectives</string>
			<string>13</string>
		</array>
		<array>
			<string>Limits</string>
			<string>14</string>
		</array>
	</array>
	<array>
		<string>Syntax</string>
		<array>
			<string>Definition</string>
			<string>21</string>
		</array>
		<array>
			<string>Conventions</string>
			<string>22</string>
		</array>
		<array>
			<string>Sub-formulas</string>
			<string>23</string>
		</array>
		<array>
			<string>Syntax tree</string>
			<string>24</string>
		</array>
		<array>
			<string>Top and Bottom</string>
			<string>25</string>
		</array>
	</array>
	<array>
		<string>Semantics</string>
		<array>
			<string>Valuation</string>
			<string>31</string>
		</array>
		<array>
			<string>Truth Tables</string>
			<string>32</string>
		</array>
		<array>
			<string>Entailment and Equivalence</string>
			<string>33</string>
		</array>
		<array>
			<string>Satisfiability and Validity</string>
			<string>34</string>
		</array>
	</array>
	<array>
		<string>Normal Forms</string>
		<array>
			<string>Implication Free Form</string>
			<string>41</string>
		</array>
		<array>
			<string>Negation Normal Form</string>
			<string>42</string>
		</array>
		<array>
			<string>Conjunctive Normal Form</string>
			<string>43</string>
		</array>
		<array>
			<string>Disjunctive Normal Form</string>
			<string>44</string>
		</array>
	</array>
	<array>
		<string>Binary Decision Diagrams</string>
		<array>
			<string>Boolean Functions</string>
			<string>51</string>
		</array>
		<array>
			<string>Boolean Expressions</string>
			<string>52</string>
		</array>
		<array>
			<string>Binary Decisions</string>
			<string>53</string>
		</array>
		<array>
			<string>Reduced BDDs</string>
			<string>54</string>
		</array>
	</array>
</array>
</plist>
