<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tutorials</string>
	<array>
		<string>1 Motivation</string>
		<array>
			<string>1.1 Introduction</string>
			<string>101</string>
		</array>
		<array>
			<string>1.2 Pitfalls</string>
			<string>102</string>
		</array>
	</array>
	<array>
		<string>2 Syntax</string>
		<array>
			<string>2.1 Introduction</string>
			<string>201</string>
		</array>
	</array>
	<array>
		<string>3 Semantics</string>
		<array>
			<string>3.1 Introduction</string>
			<string>301</string>
		</array>
		<array>
			<string>3.2 Semantics cont.</string>
			<string>302</string>
		</array>
	</array>
</array>
</plist>
