@charset "UTF-8";

body {
    margin-left:70px; margin-right:70px; margin-top:70px; margin-bottom:70px;
    background-color:#F8F8F8; background-image:url(syntaxtree.png);
}

h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
    font-family:Arial,Helvetica,sans-serif; color:#555555;
}

h1,h2,h3 {clear:both;}

h1 { font-size:42px; text-decoration:none; }

span.sb { color:green; border:solid 1px orange; font-family:Courier New;}


a:link { color:#AA5522; text-decoration:none; }

a:visited { color:#772200; text-decoration:none; }

a:active { color:#000000;  text-decoration:none; }

a.an { text-decoration:none; }


table { border:solid 1px black; border-collapse:collapse; }

table.left { float:left; margin:3px 20px 16px 0px; }
table.right { float:right; margin:3px 0px 16px 20px; }

tr, th, td { border:dotted 1px black; text-align:center; padding:2px 3px 2px 3px;}

code,kbd,tt,samp { font-family:Courier New,Courier; color:#0000C0; }

/****************************************
 *** definitions for hi-res rendering ***
 ****************************************/

@media (-webkit-min-device-pixel-ratio:2.0)     /* does not work on iPadSimulator 5.0 but 5.1 */
,(min--moz-device-pixel-ratio:2.0)              /* works in firexox with zoom */
{
    body { background-image:url(syntaxtree@2x.png); background-size:1024px 1024px; }
}

/****************************************
 *** definitions for print            ***
 ****************************************/

@media print {
    h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
        color:#000000;
    }
    
    table { float:left; margin:3px 20px 16px 0px; border:solid 0.5pt black; border-collapse:expanded; }
    
    tr, th, td { border:solid 0.2pt grey; text-align:center;}
    
    span.sb { color:green; border:solid 0.2pt orange; }
    
}
