@charset "UTF-8";

body {
    margin-left:70px; margin-right:70px; margin-top:70px; margin-bottom:70px;
    background-color:#F8F8F8; background-image:url(syntaxtree.png);
}

h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
    font-family:Helvetica,Arial,sans-serif; color:#555555;
}

h1 { font-size:42px; }

a:link { color:#AA5522; }

a:visited { color:#772200; }

a:active { color:#000000; }

a.an { text-decoration:none; }

/****************************************
 *** definitions for hi-res rendering ***
 ****************************************/

@media (-webkit-min-device-pixel-ratio:2.0)     /* does not work on iPadSimulator 5.0 but 5.1 */
,(min--moz-device-pixel-ratio:2.0)              /* works in firexox with zoom */
{
    body { background-image:url(syntaxtree@2x.png); background-size:1024px 1024px; }
}
